PORT=3003
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=ipe_user
DB_PASSWORD=ipe_pass123
DB_NAME=insurance_db
REDIS_HOST=localhost
REDIS_PORT=6381
RULE_ENGINE_URL=http://localhost:3002
PLAN_SERVICE_URL=http://localhost:3001
QUOTE_CACHE_TTL=86400
NODE_ENV=development
